.aside-cart {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  margin: 0;
  color: #000000;
  opacity: 0;
  transition: 0.6s;
  width: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  overflow-y: scroll;
}

.aside-cart-wrapper {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 64px;
  transition: 0.7s;
  padding: 16px;
}

.hidden {
  opacity: 1;
  width: 700px;
  pointer-events: unset;
}

.aside-shopping-cart {
  background-color: #e4e5e7;
  width: 100%;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    color: #23232c;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 2rem;
  }
}

.aside-product-cart-img {
  width: 100px;
  height: 100px;
  img {
    width: 100%;
  }
}

.aside-section-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.aside-cart-info-wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 28px;
  margin-right: -24px;
}

.aside-product-cart-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aside-product-cart-quantity {
  text-align: center;
  margin-right: 24px;
}
.aside-decrement-cart {
  border: none;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  width: 16px;
  line-height: 24px;
  cursor: pointer;
  &:hover {
    color: rgb(51, 51, 51);
  }
}
.aside-increment-cart {
  border: none;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  width: 16px;
  line-height: 24px;
  cursor: pointer;
  &:hover {
    color: rgb(51, 51, 51);
  }
}
.aside-product-name {
  line-height: 16px;
  width: 200px;
}
.aside-trash {
  border: none;
  font-size: 16px;
  cursor: pointer;
  i:hover {
    color: rgb(121, 42, 42);
  }
}
