.aside-main {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  padding: 32px 32px 32px 16px;
  min-width: 250px;
}

.aside-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  list-style: none;
}

.aside-item {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  margin-left: 8px;
}

.boton-categoria {
  border: none;
  background-color: transparent;
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.boton-carrito {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  cursor: pointer;
}

.bi.bi-hand-index-fill {
  transform: rotate(90deg);
  opacity: 0;
}

.active {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: white;
  border-radius: 2px;
  padding: 16px;

  &::before {
    content: "";
    border-radius: 50%;
    background-color: #000000;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 6px;
  }
}
