.aside-main {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-width: 250px;
}

.aside-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  list-style: none;
}

.boton-categoria {
  border: none;
  background-color: transparent;
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.boton-carrito {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  cursor: pointer;
}

.bi.bi-hand-index-fill {
  transform: rotate(90deg);
  opacity: 0;
}

.active {
  opacity: 1;
  border-bottom: 2px solid black;
  border-radius: 2px;
  height: 32px;
  position: relative;
  &::before {
    content: "";
    border-bottom: 2px solid black;
    width: 100%;
    position: absolute;
    bottom: -6px;
  }
}
