@use "./variables" as var;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.topbar {
  background-color: var.$secondary-color;
  color: var.$white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-weight: 600;
  gap: 16px;
}

.main {
  display: flex;
}

.wrapp-wrapper {
  min-height: 1000px;
}
