@use "../sass/variables" as var;

.button-sticky {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  background-color: var.$white;
  box-shadow: 0 3px 4px #000;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: 0;

  cursor: pointer;
  .cart-img {
    width: 28px;
  }
  .numerito {
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    color: white;
    font-weight: 600;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    align-items: center;
  }
}
