body {
  display: flex;
  flex-direction: column;
}

.shopping-cart {
  background-color: #e4e5e7;
  width: 100%;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    color: #23232c;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 2rem;
  }
}

.product-cart-img {
  width: 100px;
  height: 100px;
  img {
    width: 100%;
  }
}

.section-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.cart-wrapper {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 64px;
}

.cart-info-wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 28px;
}

.product-cart-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-cart-quantity {
  text-align: center;
}

.increment-cart {
  border: none;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  width: 16px;
  line-height: 24px;
  cursor: pointer;
  &:hover {
    color: rgb(51, 51, 51);
  }
}
.decrement-cart {
  border: none;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  width: 16px;
  line-height: 24px;
  cursor: pointer;
  &:hover {
    color: rgb(51, 51, 51);
  }
}
.product-name {
  height: 16px;
  width: 200px;
}

.cart-trash {
  cursor: pointer;
  i:hover {
    color: rgb(121, 42, 42);
  }
}

.buy-wrapper {
  display: flex;
  justify-content: center;
}

.buy {
  text-align: center;
  width: 100px;
  height: 50px;
  cursor: pointer;
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: 600;
}

.carrito-vacio {
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
}

.cart-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
