.wrapper-products {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1;
  gap: 32px 56px;
  margin-bottom: 64px;
}

.ecommerce-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  max-width: 250px;
  align-self: center;
  justify-self: center;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}

.products-img-container {
  width: 200px;
  height: 200px;
}

.products-img-container img {
  width: 100%;
}

.agregar-carrito {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
  &:hover {
    background-color: red;
    transition: 0.3s;
  }
  &:active {
    transform: scale(0.9);
  }
}

.products-wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 360px;
}
