* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  position: relative;
}

.topbar {
  background-color: #353738;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-weight: 600;
  gap: 16px;
}

.main {
  display: flex;
}

.wrapp-wrapper {
  min-height: 1000px;
}

.button-sticky {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  background-color: #ffffff;
  box-shadow: 0 3px 4px #000;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: 0;
  cursor: pointer;
}
.button-sticky .cart-img {
  width: 28px;
}
.button-sticky .numerito {
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  color: white;
  font-weight: 600;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  align-items: center;
}

.aside-cart {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  margin: 0;
  color: #000000;
  opacity: 0;
  transition: 0.6s;
  width: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  overflow-y: scroll;
}

.aside-cart-wrapper {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 64px;
  transition: 0.7s;
  padding: 16px;
}

.hidden {
  opacity: 1;
  width: 700px;
  pointer-events: unset;
}

.aside-shopping-cart {
  background-color: #e4e5e7;
  width: 100%;
  display: flex;
  justify-content: center;
}
.aside-shopping-cart a {
  text-decoration: none;
  color: #23232c;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 2rem;
}

.aside-product-cart-img {
  width: 100px;
  height: 100px;
}
.aside-product-cart-img img {
  width: 100%;
}

.aside-section-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.aside-cart-info-wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 28px;
  margin-right: -24px;
}

.aside-product-cart-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aside-product-cart-quantity {
  text-align: center;
  margin-right: 24px;
}

.aside-decrement-cart {
  border: none;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  width: 16px;
  line-height: 24px;
  cursor: pointer;
}
.aside-decrement-cart:hover {
  color: rgb(51, 51, 51);
}

.aside-increment-cart {
  border: none;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  width: 16px;
  line-height: 24px;
  cursor: pointer;
}
.aside-increment-cart:hover {
  color: rgb(51, 51, 51);
}

.aside-product-name {
  line-height: 16px;
  width: 200px;
}

.aside-trash {
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.aside-trash i:hover {
  color: rgb(121, 42, 42);
}

.ecommerce-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 2rem;
}

.ecommerce-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ecommerce-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ecomemrce-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
}

.carrito-link {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.carrito-link a {
  text-decoration: none;
}

.carrito-link i {
  color: #353738;
  font-weight: bold;
  font-size: 1.5rem;
}

.carrito-link li {
  position: relative;
  margin-right: 4rem;
}

.carrito-link span {
  position: absolute;
  text-decoration: none;
  background-color: #353738;
  color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
}

.background-img {
  background-image: url(../assets/BannerSHOP-scaled.jpg);
  background-position: center;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.main-title {
  letter-spacing: 4px;
  font-size: 3.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.aside-main {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-width: 250px;
}

.aside-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  list-style: none;
}

.boton-categoria {
  border: none;
  background-color: transparent;
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.boton-carrito {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  cursor: pointer;
}

.bi.bi-hand-index-fill {
  transform: rotate(90deg);
  opacity: 0;
}

.active {
  opacity: 1;
  border-bottom: 2px solid black;
  border-radius: 2px;
  height: 32px;
  position: relative;
}
.active::before {
  content: "";
  border-bottom: 2px solid black;
  width: 100%;
  position: absolute;
  bottom: -6px;
}

.wrapper-products {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1;
  gap: 32px 56px;
}

.ecommerce-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
  max-width: 250px;
  height: 350px;
  max-height: 500px;
  align-self: center;
  justify-self: center;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}

.products-img-container {
  width: 200px;
  height: 200px;
}

.products-img-container img {
  width: 100%;
}

.agregar-carrito {
  background-color: rgb(66, 65, 65);
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
}

body {
  display: flex;
  flex-direction: column;
}

.shopping-cart {
  background-color: #e4e5e7;
  width: 100%;
  display: flex;
  justify-content: center;
}
.shopping-cart a {
  text-decoration: none;
  color: #23232c;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 2rem;
}

.product-cart-img {
  width: 100px;
  height: 100px;
}
.product-cart-img img {
  width: 100%;
}

.section-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.cart-wrapper {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 64px;
}

.cart-info-wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 28px;
}

.product-cart-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-cart-quantity {
  text-align: center;
}

.increment-cart {
  border: none;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  width: 16px;
  line-height: 24px;
  cursor: pointer;
}
.increment-cart:hover {
  color: rgb(51, 51, 51);
}

.decrement-cart {
  border: none;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  width: 16px;
  line-height: 24px;
  cursor: pointer;
}
.decrement-cart:hover {
  color: rgb(51, 51, 51);
}

.product-name {
  height: 16px;
  width: 200px;
}

.cart-trash {
  cursor: pointer;
}
.cart-trash i:hover {
  color: rgb(121, 42, 42);
}

.buy-wrapper {
  display: flex;
  justify-content: center;
}

.buy {
  text-align: center;
  width: 100px;
  height: 50px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */